<%- include('partials/header') -%> 

<div class="d-flex justify-content-center mt-5 mb-4">
    <h1>Welcome to the competition,
        spread the news about carbon compensations
    </h1>
    
</div>
<div class="container d-flex justify-content-center">
    

    <a href="/form/signin">
        <button class="btn btn-primary">Sign In</button>
    </a>
</div>

<%- include('partials/footer') -%> 