<%- include('partials/header') -%>
 

<main>
    <div class="d-flex justify-content-center mt-5 congrats-message">
        We send to you an email to comfirm your account, go there and click in the link!
    </div>
    
</main>

<%- include('partials/footer') -%> 